# => node modules
node_modules/

# => vscode configs
.vscode

# => dist directory - only on production
dist

# => enviroment variables
.env
.env.test

# => code coverage files
__tests__/coverage

# => upload files
tmp/uploads/*

# => .lock files
yarn.lock
package-lock.json

